* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

:root {
    --primary-color: #0A3871;
    --secondary-color: #ffffff;
    --text-color: #495057;
}